*, ::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.logo img
{
    width: 80px;
}

body{
    margin:0 100px;
    background-color:rgb(214, 214, 214);
}

.nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0; 
}

.nav ul{
    display:flex;
    list-style: none;
}

.nav  ul li{
    margin-right: 30px;
}

.nav  ul li a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.nav ul .active::after{
    content: "";
    width: 60%;
    height: 3px;
    background-color:gray;
    display:flex;
    position: relative;
    margin-left: 10px;
}



.intro{
    display:grid;
    grid-template-columns: 50% auto;
    gap:30px;
    margin-top: 110px;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}
.intro .intro-left{
    display:grid;
    width:100%;
}

.intro .intro-right{
    display:block;
    width:100%;
}
.intro .intro-right img{
    width:400px;
    height:auto;
    position: relative;


}

.intro .intro-left .info{
    max-width: 100%;
    display:flex;
    flex-direction:column;
}
.intro .intro-left .info h3{
    font-size: 50px;
    margin-bottom: 30px;
    
}

.intro .intro-left .info p{
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 2pc;
    font-family: sans-serif;
    
}

<!--bottom-->

.category{
    width:100%;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

.category .list-items{
    width:90%;
    position: relative;
    margin-top: 100px;

}


.category .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;

}


.category .list-items .card-list{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}

.category .card-list .card{
    width:200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position:inherit;
    background: white;
    outline:2px solid rgb(136, 124, 124);
  }

  .category .card-list .card img{
    width:120px;
    height: auto;
    bottom:140px;
    left: 60%;
    object-fit:cover;
    object-position:center;
    background-repeat: no-repeat;
    position: -webkit-sticky;
    box-shadow: 0 20px 20px rgb(237, 135, 135);
    border-radius: 20%;
  }

  .category .card-list .card .diet-title{
    padding:40px 0 10px;
  }

  .category .card-list .card .diet-title h2{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
  }

  .category .card .diet-desc p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
    
  }

